body{
    background-color: blue;
    font: normal 18pt "Arial";
}

header{
    text-align: center;
    color: white;
}

div{
    background-color: white;
    margin:auto;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 1%;
}
